@use '../mixins/resposive.scss' as *;
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--cream-bg);
  font-family: sans-serif;
  @include responsive(desktop){
    margin-top: 175px;
  }
  @include responsive(tablet){
    margin-top: 175px;
  }
}
