@use '../mixins/resposive.scss' as *;
.price{
display: flex;
flex-direction: row;
justify-content: start;
margin-left: 12px;
margin-bottom: 8px;

    &--1{
        font-family: "Fraunces", serif;
        font-weight: 700;
        font-size: 32px;
        color: var(--deep-aquamarine);
        line-height: 32px;
        @include responsive(desktop){
            width: 127px;
            color: var(--deep-aquamarine);
         }
         @include responsive(tablet){
            width: 127px;
            color: var(--deep-aquamarine);
         }
    }
    &--2{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
        color: var(--aurometal-saurus);
        margin-top: 5px;
        @include responsive(desktop){
            margin-left: 8px;
            
         }
         @include responsive(tablet){
            margin-left: 8px;
            
         }
    }
}